<div class="container-fluid">
    <ul>
      <li *ngFor="let contact of contacts">
          <div class="card border-success mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{contact.photo}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{contact.firstName}} {{contact.lastName}}</h5>
                    <p class="card-text">{{contact.phoneNumber}}</p>
                    <p class="card-text">{{contact.email}}</p>
                    <p class="card-text">{{contact.company}}</p>
                    <button type="button" (click)="updateProduct(product)" class="btn btn-outline-info">Update</button>
                    <button type="button" (click)="deleteProduct(product)" class="btn btn-outline-danger">Delete</button>
                  </div>
                </div>
              </div>
            </div>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>